/*ОБЩИЕ СТИЛИ_____________________________________________________*/
*{
    margin: 0;
}
body{
    background-image: url("../img/bg.jpg");
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}
a{
    text-decoration: none;
    color: blue;
    font-weight: 400;
}
.mlogin{
    margin: 150px auto 0;
}

.mregister{
    margin: 100px auto 0;
}
.nem_note {
    margin: 100px auto 0;
}
.error {
    margin: 40px auto 0;
  padding: 3px;
     color: #fff;
    text-align: center;
  width: 650px;
  background: rgba(73, 67, 67, 0.5);
  border-radius: 5px;
}

.regtext{
    padding: 5px 0 0;
    font-size: 13px;
    
    color: rgb(255, 255, 255);
}
/*ШАПКА________________________________________________________________*/
header{
    width: 100%;
    background-color: rgb(162, 158, 177);
    color: #fff;
    border-bottom: 1px solid #05037a;
    
}
header .huser{
    padding: 1%; 
    display: inline-block;
}
header .hbutton{
 
    font-weight: 400;
    color: #fff;
    float: right;
    padding: 1%;
}
header .hbutton:hover{
    background-color: #05037a;
}

/*КОНТЕЙНЕРЫ___________________________________________________________*/

.container{
    padding: 25px 16px 0px 10px;
	font-weight: 400;
	overflow: hidden;
	width: 400px;
	height: auto;
    background: rgb(162, 158, 177);
    border-radius: 10px;
    border: 1px solid #05037a;
}
#note {
    width: 400px;
	margin: auto;
    padding-bottom: 15px;
    
}
.textarea{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #000000;
}
.container h1 {
	color: #fff;
	text-align: center;
	font-weight: 300; 
}
.container p{
    margin: 15px;
}
.container label {
	color: #fff;
	font-size: 14px;
}
.container img{
    height: 35px;
    width: 35px;
    border-radius: 5px;
}
#login {
    width: 400px;
	margin: auto;
	padding-bottom: 15px;
}
.container input[type=text],.container input[type=password],.container input[type=email] {
	background: #fff;
	font-size: 24px;
	line-height: 1;
	width: 100%;
	padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #000000;
    border-radius: 5px;
}
	
.container form .input:focus {
	border: 1px solid #05037a;
    -webkit-box-shadow: 0 0 3px 0 #05037a;
    -moz-box-shadow: 0 0 3px 0 #05037a;
    box-shadow: 0 0 3px 0 #05037a;
}

/*POPUP___________________________________________________________*/

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.closepopup{
    font-weight: 400;
    color: #fff;
    float: right;
    margin-right: 15px;
}

/*КНОПКИ__________________________________________________________*/
	
.button{
	border: solid 1px #05037a;
	background: #0004ff;
    color: #fff;
	padding: 7px 12px;
    border-radius:4px;
	float: right;
    cursor: pointer;
    margin-bottom: 15px;
}
	
.button:hover{
	background: #05037a;
}

